<div class="box personalized container">
  <div class="margin-bottom-2">
    <h1 class="padding-bottom center">Importar dados de estudantes</h1>
    <div class="center">
      <button type="button" mat-raised-button (click)="fileInput.click()">Enviar Arquivo</button>
      <input hidden #fileInput type="file" id="file" (change)="onFileSelected($event)" accept=".txt, .csv">
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="margin-top-2 margin-bottom">
    <h1 class="padding-bottom center">Treinar IA com os dados atuais</h1>
    <div class="center">
      <button type="button" mat-raised-button (click)="train()">Treinar</button>
    </div>
  </div>

</div>
