<div class="box personalized container">
  <div class="flex space-around">
    <div class="margin-bottom margin-top">
      <h1 class="padding-bottom center">Importar dados de estudantes</h1>
      <div class="center">
        <button type="button" mat-raised-button (click)="fileInput.click()">Enviar Arquivo</button>
        <input hidden #fileInput type="file" id="file" (change)="onFileSelected($event)" accept=".txt, .csv">
      </div>
    </div>

    <div class="margin-bottom margin-top">
      <h1 class="padding-bottom center">Treinar IA com os dados atuais</h1>
      <div class="center margin-bottom-2">
        <button type="button" mat-raised-button (click)="train()">Treinar</button>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <p class="margin-top center">Últimas métricas:</p>
  <div class="chart-area flex space-between margin-top">
    <div class="text-center flex column justify-center">
      <canvas baseChart class="chart" [datasets]="accuracyChartDatasets"
        [options]="doughnutChartOptions" [legend]="true" [type]="'doughnut'">
      </canvas>
      <p>Acurácia</p>
    </div>
    <div class="text-center flex column justify-center">
      <canvas baseChart class="chart" [datasets]="f1ChartDatasets"
        [options]="doughnutChartOptions" [legend]="true" [type]="'doughnut'">
      </canvas>
      <p>F1-Score</p>
    </div>
    <div class="text-center flex column justify-center">
      <canvas baseChart class="chart high-score" [datasets]="highScoreChartDatasets"
        [options]="doughnutChartOptions" [legend]="true" [type]="'doughnut'">
      </canvas>
      <p>Pontuação do modelo</p>
    </div>
    <div class="text-center flex column justify-center">
      <canvas baseChart class="chart" [datasets]="kappaChartDatasets"
        [options]="doughnutChartOptions" [legend]="true" [type]="'doughnut'">
      </canvas>
      <p>Cohen's Kappa</p>
    </div>
    <div class="text-center flex column justify-center">
      <canvas baseChart class="chart" [datasets]="recallChartDatasets"
        [options]="doughnutChartOptions" [legend]="true" [type]="'doughnut'">
      </canvas>
      <p>Recall</p>
    </div>
  </div>
  <p class="margin-top center">{{metricsHistory.createdAt}}</p>
</div>
