h2 {
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0px !important;
}

form {
  margin-top: 0 !important;
}

mat-form-field {
  width: 100%;
}
mat-label {
  font-weight: bold;
}
mat-input {
  width: 100%;
}
mat-raised-button {
  margin-top: 20px;
}

.margin-top-half{
  margin-top: 0.5rem !important;
}

.margin-bottom-half{
  margin-bottom: 0.5rem !important;
}

.margin-top-2{
  margin-top: 2rem !important;
}

.text-center{
  text-align: center;
}

.center {
  margin: auto;
  width: 20rem;
  padding: 10px;
}

.full-width{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.full-right{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.link-cadastro {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.2s ease;
}

.link-cadastro:hover {
  color: rgb(179, 174, 174);
}







