<div class="container gray topBotomBordersOut">
  <div class="flex space-around">
    <img [src]="evasionLogoUrl" alt="logomarca" />
    <div class="center flex align-items-flex-end">
      <a (click)="redirectTo('/about')">Início</a>
      <a (click)="redirectTo('/custom-analysis')">Agendar Análise</a>
      <a (click)="redirectTo('/fast-analysis')">Análise Rápida</a>
      <a (click)="redirectTo('/ia-train')">Treinamento da IA</a>
    </div>
    <img [src]="ifpeLogoUrl" alt="logomarca" />
  </div>
</div>
<router-outlet></router-outlet>
