<div class="login-page">
  <div class="form">
    <form (ngSubmit)="onRegister()" class="register-form">
      <input type="text" placeholder="Nome" [(ngModel)]="registerForm.name" name="name" />
      <input type="text" placeholder="Login" [(ngModel)]="registerForm.login" name="login" />
      <input type="password" placeholder="Senha" [(ngModel)]="registerForm.password" name="password" />
      <input type="text" placeholder="E-mail" [(ngModel)]="registerForm.email" name="email" />
      <button>Cadastrar</button>
      <p class="message">Já possui uma conta? <a class="toggle-form">Entre!</a></p>
    </form>

    <form (ngSubmit)="onLogin()" class="login-form">
      <input type="text" placeholder="Login" [(ngModel)]="loginForm.login" name="login" />
      <input type="password" placeholder="Senha" [(ngModel)]="loginForm.password" name="password" />
      <button>Entrar</button>
      <p class="message">Não possui uma conta? <a class="toggle-form">Cadastre-se!</a></p>
    </form>
  </div>
</div>
