<div class="center margin-top-2">
  <h3 class="text-center">Bem-vindo! Faça o login na sua conta</h3>
  <form (ngSubmit)="onSubmit()">
    <mat-error class="text-center" *ngIf="error">Preencha corretamente os campos</mat-error>
    <mat-error class="text-center" *ngIf="!error"></mat-error>
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput type="text" name="login" [(ngModel)]="loginForm.login" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input
        matInput
        type="password"
        name="senha"
        [(ngModel)]="loginForm.password"
      />
    </mat-form-field>
    <button mat-raised-button type="submit" class="full-width">Entrar</button>
    <a routerLink="/user/register" class="link-cadastro margin-top-half full-right">Não possui uma conta? Cadastre-se!</a>
  </form>
</div>
