/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Raleway";

*{
  font-family: Raleway;
}
html, body { height: 100%; }
body { margin: 0; }

.box {
  flex-direction: column;
  font-family: Raleway;
  margin: 3rem auto;
  padding: 2rem 2rem 2rem 2rem;
  max-height: 650px;
  text-align: justify;
  max-width: 900px;
  overflow-y: auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.padding-bottom {
  padding-bottom: 1rem;
}

.padding-bottom-2 {
  padding-bottom: 1rem;
}

.margin-bottom{
  margin-bottom: 1rem;
}

.center{
  text-align: center;
}

.flex{
  display: flex;
}

.space-around{
  justify-content: space-around;
}

.space-between{
  justify-content: space-between;
}

.align-items-flex-end{
  align-items: flex-end;
}

.justify-content-flex-end{
  justify-content: flex-end;
}

.gray {
  background: #f2f2f2;
}

.margin-top-2 {
  margin-top: 2rem !important;
}

.margin-top {
  margin-top: 1rem !important;
}

.margin-bottom-2{
  margin-bottom: 2rem !important;
}

.pointer {
  cursor: pointer;
}

.red {
  background: #e44848bb !important;
}

.green{
  background: #3dd15db0 !important;
}

.text-center{
  text-align: center !important;
}

.column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}
